  .center {
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-align: -webkit-center;
  }
  
  table{
    font-family: 'roboto';
    color: black;
    width: 100%;
  }

  tr{
    border: 1px solid lightgray;
  }

  th{
    background-color: black;
    color: white;
    padding: 0.3rem;
  }

  td{
    padding: 0.2rem;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    margin-left: 1.2rem;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }